.transitionclass{
    @apply transition-all duration-200 ease-linear;
}
.kinatech-container{
    @apply container mx-auto
}
.flexCenter{
@apply flex items-center justify-center
}
.form-input {
  @apply outline-none w-full   border  rounded-lg px-4 py-3 focus:ring-main focus:ring-1 focus:border-main text-sm sm:text-[16px] md:text-base placeholder:text-sm placeholder:sm:text-[15px] placeholder:md:text-base font-A;
}
.error-input {
  @apply text-red-500 text-xs tracking-wide font-A pl-2;
}
.kinatech-btn{
  @apply  font-A w-fit  px-6 py-2  text-white text-base font-bold rounded-lg  flex justify-center items-center gap-x-2  tracking-wider  
}

/* brands */ 

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1.25rem));
  }
}

.scroll-animate {
  display: flex;
  animation: scroll 5s linear infinite;
  will-change: transform;
}

.cardSkills:hover .scroll-animate {
  animation-play-state: paused;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
