:root {
  --main: #0c549f;
  --second: #ffb300;
  --wt: #fff;
  --blk: #151515;
  --grey: rgb(149, 149, 149);
  --mainHover: #103c6b;
  --secondHover: #c68d0a;
  --whiteHover: #ffffffaf;

  --paddingPhone: 1.25rem;
  --paddingPC: 5rem;
  --padding: 1rem; 
}

* {
  box-sizing: border-box;
  /* white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto; */
  @apply transition-all duration-200 ease-linear;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff");
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.woff");
  font-display: swap;
}
@font-face {
  font-family: "Boska";
  src: url("/fonts/Boska-Regular.woff") format("woff"),
    url("/fonts/Boska-Regular.woff2") format("woff2");
  /* font-weight: 500; */
  font-display: swap;
}
