:root {
  --main: #0c549f;
  --second: #c800ff;
  --mainHover: #103c6b;
  --secondHover: #6a0e83;
  --wt: #fff;
  --blk: #212121;
  --grey: rgb(50, 50, 50);
}

* {
  box-sizing: border-box;
  /* letter-spacing: 0.1px; */
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff");
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.woff");
  font-display: swap;
}
@font-face {
  font-family: "Boska";
  src: url("/fonts/Boska-Regular.woff") format("woff"),
    url("/fonts/Boska-Regular.woff2") format("woff2");
  /* font-weight: 500; */
  font-display: swap;
}
