.bg-second-hover {
  @apply sm:hover:bg-secondHover active:bg-secondHover;
}
.text-white-hover{
  @apply sm:hover:text-[#ffffffaf] active:text-[#ffffffaf]

}.text-fff-hover{
  @apply sm:hover:text-white active:text-white

}
.text-main-hover{
  @apply sm:hover:text-main active:text-main
}
.underline-hover{
  @apply sm:hover:underline active:underline; 
}
.scale-minus-hover{
  @apply sm:hover:scale-95 active:scale-95; 
}
.bg-black-hover {
  @apply sm:hover:bg-[#000] active:bg-black;

}.text-black-hover {
  @apply sm:hover:text-[#000] active:text-black;

}
.bg-main-hover {
  @apply sm:hover:bg-mainHover active:bg-mainHover;
}
.bg-gray-hover{
  @apply sm:hover:bg-[#f4f4f4] active:bg-[#f4f4f4];
}
.bg-maincolor-hover{
  @apply sm:hover:bg-main active:bg-main
}